

  <div class="container">
    <div class="row">
      <img src="../images/logo.png" style="width: 100px;" />
      <div class="col">
      <h2>Admin's Page NoName</h2>
      </div>
      <div class="col">
        <a href="/" style="float: right;" class="btn btn-link">Đăng xuất</a>
      </div>
      
      
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <img src="../images/logo.png" class="mr-3" style="width: 50px; height:50px">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/account-manager">Quản lí tài khoản</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/stock-manager">Quản lí kho hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/receipt-manager">Quản lý hóa đơn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/order-manager">Quản lý nhập hàng</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="row" style="margin-top:20px;  ">
      



      <div class="col-11">
        <div class="mt-4" style="text-align: center;">
          <h3>Quản lí tài khoản</h3>
        </div>
        <div class="overflow-auto">
          <div class="book-information" data-spy="scroll">

            <table class="table table-success table-striped table-bordered ">
              <thead style="position: sticky; top: 0; z-index: 1; ">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Tài khoản</th>
                  <th scope="col">Mật khẩu</th>
                  <th scope="col">Loại tài khoản</th>
                  <th scope="col">Ngày kích hoạt</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col">11111</th>
                  <th scope="col">vinhphan</th>
                  <th scope="col">*********</th>
                  <th scope="col">Admin</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">11112</th>
                  <th scope="col">phongfuuma</th>
                  <th scope="col">*********</th>
                  <th scope="col">Admin</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">11113</th>
                  <th scope="col">vytran</th>
                  <th scope="col">*********</th>
                  <th scope="col">Admin</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21111</th>
                  <th scope="col">vinhphan123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Staff</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21112</th>
                  <th scope="col">phongfuuma123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Staff</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21113</th>
                  <th scope="col">vytran123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Staff</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21111</th>
                  <th scope="col">vinhphan123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Customer</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21112</th>
                  <th scope="col">phongfuuma123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Customer</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21113</th>
                  <th scope="col">vytran123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Customer</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21111</th>
                  <th scope="col">vinhphan123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Customer</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21112</th>
                  <th scope="col">phongfuuma123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Customer</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21113</th>
                  <th scope="col">vytran123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Customer</th>
                  <th scope="col">10/11/2021</th>
                </tr><tr>
                  <th scope="col">21111</th>
                  <th scope="col">vinhphan123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Customer</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21112</th>
                  <th scope="col">phongfuuma123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Customer</th>
                  <th scope="col">10/11/2021</th>
                </tr>
                <tr>
                  <th scope="col">21113</th>
                  <th scope="col">vytran123</th>
                  <th scope="col">*********</th>
                  <th scope="col">Customer</th>
                  <th scope="col">10/11/2021</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-1">
 <div class="btn-group-vertical" style="padding-top:70px;">
      <button type="button" class="btn btn-outline-danger">
      <span>Thêm</span>
</span>
      </button>
<button type="button" class="btn btn-outline-success">
      <span>Xóa
      </span>
</span>
      </button>
      <button type="button" class="btn btn-outline-warning">
      <span>Sửa</span>
</span>
      </button>
</div>
      </div>
      

    </div>
 


<div class="row" style="background-color: black;text-color: white;">
    <p>Copyright &copy; by NoName team.</p>
</div>

