<h1>NoName</h1>
<p>Web bán truyện được ưa thích nhất</p>

<div class="container" style="min-height: 800px;">
<a href="/shopping-cart" class="btn btn-success">Trở về giỏ hàng</a>
<div class="container" style="height:500px;">
    <h3 class="text-center">{{paymentResult}}</h3>
    <p class="text-center">{{caution}}</p>
</div>



</div>