 <footer>
    </div>
    <div class="row" style="background-color:#3f3f3f;padding:20px;">
    <div class="col-3">
      <p class="footer-header">Phương thức thanh toán</p>
      <p class="footer-info">Chấp nhận các thanh toán qua thẻ và thanh toán trực tiếp</p>
      <p>
        <span><img class="icon-footer" src="/images/paypal.png"/></span>
        <span><img class="icon-footer" src="/images/mastercard.jpg"/></span>
        <span><img class="icon-footer" src="/images/visa.png"/></span>

      </p>
    </div>
    <div class="col-3">
      <p class="footer-header">Thông tin liên lạc</p>
      <p class="footer-info">123 Main Street #3</p>
      <p class="footer-info">TP.HCM, Việt Nam</p>
      <p class="footer-info">Điện thoại: (+84) xxx xxx xxx</p>
      <p class="footer-info">FAX: (+84) xxx xxx xxx</p>
      <p class="footer-info">Email: noname@gmail.com</p>
    </div>
    <div class="col-3">
      <p class="footer-header">Thông tin developer</p>
      <p class="footer-info">NoName Team</p>
      <p class="footer-info">Mã Chấn Phong</p>
      <p class="footer-info">Phan Nguyễn Anh Vinh</p>
      <p class="footer-info">Trần Ngọc Vỹ</p>
      
    </div>
    <div class="col-3 ">
      <div class="container">

        <div class="row">
          <p class="footer-header">Bản quyền &copy; thuộc NoName Team</p>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img src="/images/logo.png"style="max-height:100px"/>
          </div>
          
        </div>
      </div>
    </div>

  </div>

</footer>