{{!-- <div class="container">
  <div class="card">
    <div class="card-body">
      <h4>Truyện mới</h4>
    </div>
    <div class="row">
      <div id="slider">
        <div class="owl-carousel owl-theme">
          <div class="col-lg-3">
            <div class="item" style=" height:100%">
              <div class="card">
                <a href="">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="item" style=" height:100%">
              <div class="card">
                <a href="">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="item" style=" height:100%">
              <div class="card">
                <a href="">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="item" style=" height:100%">
              <div class="card">
                <a href="">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <h4>Top truyện tranh hot</h4>
    </div>
    <div class="row">
      <div id="slider">
        <div class="owl-carousel owl-theme">
          <div class="col-lg-3">
            <div class="item" style=" height:100%">
              <div class="card">
                <a href="">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="item" style=" height:100%">
              <div class="card">
                <a href="">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="item" style=" height:100%">
              <div class="card">
                <a href="">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="item" style=" height:100%">
              <div class="card">
                <a href="">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="card">
    <div class="card-body">
      <h4>Top truyện chữ hot</h4>
    </div>


    <div class="row">
      <div class="row">
        <div id="slider">
          <div id="slider">
            <div class="owl-carousel owl-theme">
              <div class="col-lg-3">
                <div class="item" style=" height:100%">
                  <div class="card">
                    <a href="">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="item" style=" height:100%">
                  <div class="card">
                    <a href="">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="item" style=" height:100%">
                  <div class="card">
                    <a href="">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="item" style=" height:100%">
                  <div class="card">
                    <a href="">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <script>
    $(document).ready(function () {
      $('#slider .owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        items: 3
      })
    });
  </script>
</div> --}}


{{!-- 
<div class="container">
  <div class="card">
    <div class="card-body">
      <h4>Truyện mới</h4>
    </div>
    <div class="row">
      <div class="categories__slider owl-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-693px, 0px, 0px); transition: all 1.2s ease 0s; width: 2545px;">
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
              class="fa fa-angle-left"><span></span></span></button><button type="button" role="presentation"
            class="owl-next"><span class="fa fa-angle-right"><span></span></span></button></div>
        <div class="owl-dots disabled"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4>Top truyện tranh hot</h4>
    </div>
    <div class="row">
      <div class="categories__slider owl-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-693px, 0px, 0px); transition: all 1.2s ease 0s; width: 2545px;">
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
              class="fa fa-angle-left"><span></span></span></button><button type="button" role="presentation"
            class="owl-next"><span class="fa fa-angle-right"><span></span></span></button></div>
        <div class="owl-dots disabled"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4>Top truyện chữ hot</h4>
    </div>
    <div class="row">
      <div class="categories__slider owl-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-693px, 0px, 0px); transition: all 1.2s ease 0s; width: 2545px;">
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>

                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 231.333px;">
              <div class="col-lg-3">
                <div class="categories__item set-bg" style="background-image: url(&quot;undefined&quot;);">
                  <div class="card" style=" height:100%">
                    <a href="/book-detail">
                      <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84">
                    </a>
                    <div class="card-body">
                      <a href="/book-detail">
                        <div class="card-title">
                          Thám tử lừng danh conan tập 84
                        </div>
                      </a>
                      <p class="card-text">Book 's content</p>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-outline-success">Thêm vào giỏ</button>
                      <button class="btn btn-outline-success">Mua ngay</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
              class="fa fa-angle-left"><span></span></span></button><button type="button" role="presentation"
            class="owl-next"><span class="fa fa-angle-right"><span></span></span></button></div>
        <div class="owl-dots disabled"></div>
      </div>
    </div>
  </div>
</div> --}}

<body>

  <div class="container">



    <h1>{{title}}</h1>
    <p>Web bán truyện được ưa thích nhất</p>


    <div class="card">
      <div class="card-body">
        <h4>Truyện mới</h4>
      </div>
      <div class="row">
        <div class="categories__slider owl-carousel">
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
               <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
               <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>
                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4>Top truyện tranh hot</h4>
      </div>
      <div class="row">
        <div class="categories__slider owl-carousel">
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>
                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
               <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>
                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
               <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <h4>Top truyện chữ hot</h4>
      </div>
      <div class="row">
        <div class="categories__slider owl-carousel">
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
               <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
               <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>
                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>
                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
               <a href="/book-detail">
                  <img src="images/conan_84.jpg" class="card-img-top" alt="conan_84" />
                </a>
                <div class="card-body">
                  <a href="/book-detail">
                    <div class="card-title">
                      Thám tử lừng danh conan tập 84
                    </div>
                  </a>
                  <p class="card-text">Book 's content</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </div>
</body>