

    <h1>{{title}}</h1>
    <p>Web bán truyện được ưa thích nhất</p>
    
   
    <h2 class="text-center">Giỏ hàng</h2>
    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Tên sản phẩm</th>
                    <th style="width:10%">Giá</th>
                    <th style="width:8%">Số lượng</th>
                    <th style="width:22%">Thành tiền</th>
                    <th style="width:10%"> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-lg-3 hidden-xs">
                                <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/600x600/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_46642.jpg"
                                    alt="Sản phẩm 1" class="img-responsive" width="100">
                            </div>
                            <div class="col-sm-9 ">
                                <h4 class="nomargin">Trạng Quỷnh tập 340</h4>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">10.000 đ</td>
                    <td data-th="Quantity"><input class="form-control text-center" value="1" type="number">
                    <td data-th="Subtotal">10.000 đ</td>
                    </td>
                    <td class="actions" data-th="">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o">Loại bỏ</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-lg-3 hidden-xs"><img
                                    src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_50089.jpg"
                                    alt="Sản phẩm 1" class="img-responsive" width="100">
                            </div>
                            <div class="col-sm-9">
                                <h4 class="nomargin">Trạng quỷnh tập 100</h4>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price" >10.000 đ</td>
                    <td data-th="Quantity"><input class="form-control text-center" value="1" type="number">
                    <td data-th="Subtotal">10.000 đ</td>
                    </td>
                    <td class="actions" data-th="">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o">Loại bỏ</i>

                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
                    </td>
                    <td colspan="2" class="hidden-xs"> </td>
                    <td class="hidden-xs text-center"><strong>Tổng tiền 500.000 đ</strong>
                    </td>
                    <td><a href="#" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

